//= require_tree ./vendor
//= require_tree ./lib


$sidebar-transition-duration: 400ms
$slide-transition-duration: 700ms   // edit in js as well





body, html
  height: 100%
  width: 100%

  // overflow: hidden
  // overflow-y: scroll       // scroll
  // overflow-x: hidden


  // .image-holder
  //   position: fixed
  //   z-index: 2
  //   height: 100%
  //   width: 100%
  //   background: black

  //   .image
  //     width: 100%
  //     height: 100%
  //     background: yellow


  .wrapper
    position: relative
    left: 0
    width: 100%
    height: 100%
    overflow: hidden

    transition: margin-top $sidebar-transition-duration, height 400ms linear
    -webkit-transition: margin-top $sidebar-transition-duration, height 400ms linear /* Safari */


    .overlay
      position: absolute
      z-index: 6
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.5)
      opacity: 0
      visibility: hidden

      transition:  visibility 0s linear $sidebar-transition-duration, opacity $sidebar-transition-duration linear
      -webkit-transition:  visibility 0s linear $sidebar-transition-duration, opacity $sidebar-transition-duration linear /* Safari */


    header
      position: relative
      z-index: 4
      width: 100%

      nav
        text-align: right


    .slider
      position: absolute
      top: 0
      z-index: 1
      height: 100%
      width: 100%
      background: orange
      // opacity: 0.6

      &.slide
        transition: margin $slide-transition-duration
        -webkit-transition: margin $slide-transition-duration /* Safari */
      

      .page
        float: left
        min-height: 100%
        width: 100%

        &#one
          background: blue
        &#two
          background: green
          .content
            height: 1600px
        &#three
          background: cyan
        &#four
          background: yellow

  .sidebar
    z-index: 3
    position: absolute
    top: -400px
    width: 100%
    height: 400px
    background: red

    transition: top $sidebar-transition-duration
    -webkit-transition: top $sidebar-transition-duration /* Safari */


  .arrow-holder
    z-index: 2
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%

    transition: top $sidebar-transition-duration
    -webkit-transition: top $sidebar-transition-duration /* Safari */

    .arrow-left, .arrow-right
      position: absolute
      width: 100px
      height: 100px
      top: 40%
      background: black
      border-radius: 50px

      transition: opacity 300ms
      -webkit-transition: opacity 300ms /* Safari */

      @media (max-width: 480px) /* hide when on a phone */
        display: none

    .arrow-right
      right: -50px

    .arrow-left
      left: -50px


body.sidebar-visible
  .wrapper
    margin-top: 400px

  .arrow-holder
    top: 400px

  .sidebar
    top: 0

  .overlay
    opacity: 1
    visibility: visible

    transition: opacity $sidebar-transition-duration linear
    -webkit-transition: opacity $sidebar-transition-duration linear /* Safari */

body.no-left
  .arrow-left
    opacity: 0.2

body.no-right
  .arrow-right
    opacity: 0.2


footer
  width: 100%
  height: 300px
  background-color: purple