---
title: NoviumNew
body_class: index
---

/ .image-holder
/  .image






.wrapper

  .overlay

  %header
    %nav
      %a{:href => '#one'} one
      %a{:href => '#two'} two
      %a{:href => '#three'} three
      %a{:href => '#four'} four
      .view-sidebar test

  .slider
    .page#one
      .content 1
    .page#two
      .content 2 
    .page#three
      .content 3
    .page#four
      .content 4


  .arrow-right
  .arrow-left

.sidebar


