---
title: NoviumNew
body_class: index
---


.wrapper

  .overlay

  %header
    %nav
      .pages
        %a{:href => '#one'} One
        %a{:href => '#two'} Two
        %a{:href => '#three'} Three
        %a{:href => '#four'} Four
      .open-sidebar
        .bar
        .bar
        .bar

.sidebar
  .content
    %ul
      %li
        %a{:href => '/'} Main Page
      %li
        %a{:href => '/subpage.html'} Sub Page
  .close-sidebar
    .bar
    .bar
